* {
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 50px;
  min-height: 500px;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
}

form {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  margin-bottom: 5px;
}

button {
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
}
